<div id="searchWindow">
  Location <input type="text" name="location"><br>
  <button id="advanced-search">More</button>
  <div id="advanced-options">
    Date From <input type="date" name="date"><br>
    Date To <input type="date" name="date"><br>
    Artist <input type="text" name="artist"><br>
    <button id="advanced-search">Search</button>
  </div>
</div>