<div id="searchWindow" class="hidden">
  Location <input type="text" name="location"><br>
  <button id="advanced-search">More</button>
  <button class="search-location">Search</button>

    <div id="advanced-options" class="hidden">
      Date From <input type="date" name="date"><br>
      Date To <input type="date" name="date"><br>
      Artist <input type="text" name="artist"><br>
      <button class="search">Search</button>
    </div>

</div>