  <script class="small-info-box" type="text/x-handlebars-template" class="hidden">
    <p>Artist: {{eventObject.headliner}}</p>
    <p>Venue: {{eventObject.venueName}} </p>
    <p>Date: {{eventObject.date}}</p>
  </script>
