  <script class="small-info-box" type="text/x-handlebars-template" class="hidden">
  {{eventDetails}}
    // {{#eventDetails.artists}}
    // <p>Artist: {{artist}}</p>
    // {{/eventDetails.artists}}
    // <p>Venue: {{eventDetails.venueName}} </p>
    // <p>Date: {{eventDetails.date}}</p>
  </script>
