/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

html, body {
  margin: 0;
  height:100%;
  width: 100%;
}

#map-canvas {
  height:100%;
  width:100%;
  position: absolute;
  top: 0;
 }

#session-menu {
  width: 95%;
  height: 7%;
  margin: 1% auto 0;
  position: absolute;
  z-index: 1;
 }

 #logo img{
  width:60%;
  opacity:0.4;
 }

 #logo {
  position:fixed;
  left:15px;
  bottom:2%;
  z-index: 5;
 }

#magnify {
  float: left;
  margin-left: 1%;
  height: 40px;
  background-color: black;
  border-radius:5px;
  box-shadow: 5px 8px 5px 0px rgba(0,0,0,0.75);
 }

#log-in-menu-button, #logout-button {
  float: right;
  margin-right: -2%;
  height: 40px;
  width: 40px;
  background-color: black;
  border-radius:5px;
  box-shadow: 5px 8px 5px 0px rgba(0,0,0,0.75);
 }

#more-options-icon {
  height: 40px;
 }

#searchWindow {
  color:white;
  position:absolute;
  background-color:rgba(0,0,0,0.5);
  margin-top: 12%;
  z-index: 1;
  border-radius:5px;
  box-shadow: 5px 8px 5px 0px rgba(0,0,0,0.75);

 }

#user-log-box {
  color:white;
  margin-top:12%;
  background-color:rgba(0,0,0,0.5);
  margin-left: 81%;
  position: absolute;
  z-index: 1;
  border-radius:5px;
  box-shadow: 5px 8px 5px 0px rgba(0,0,0,0.75);
 }

.hidden {
    display: none;
 }

#sign-up-form {
  color:white;
  position:absolute;
  background-color:rgba(0,0,0,0.5);
  margin-top: 22%;
  z-index: 1;
}

#sign-in-form {
  color:white;
  position:absolute;
  background-color:rgba(0,0,0,0.5);
  margin-top: 22%;
  z-index: 1;
}

ul {
  list-style: none;
  padding-left: 10px;
}

label {
  display: inline-block;
  width: 75px;
}

/*buttons*/
button, .location-search {
  -moz-box-shadow:inset -5px 1px 0px -12px #fcf8f2;
  -webkit-box-shadow:inset -5px 1px 0px -12px #fcf8f2;
  box-shadow:inset -5px 1px 0px -12px #fcf8f2;
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #fae4bd), color-stop(1, #eac380) );
  background:-moz-linear-gradient( center top, #fae4bd 5%, #eac380 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fae4bd', endColorstr='#eac380');
  background-color:#fae4bd;
  -webkit-border-top-left-radius:37px;
  -moz-border-radius-topleft:37px;
  border-top-left-radius:37px;
  -webkit-border-top-right-radius:0px;
  -moz-border-radius-topright:0px;
  border-top-right-radius:0px;
  -webkit-border-bottom-right-radius:37px;
  -moz-border-radius-bottomright:37px;
  border-bottom-right-radius:37px;
  -webkit-border-bottom-left-radius:0px;
  -moz-border-radius-bottomleft:0px;
  border-bottom-left-radius:0px;
  text-indent:0;
  border:3px solid #eeb44f;
  display:inline-block;
  color:#ffffff;
  font-family:Arial;
  font-size:15px;
  font-weight:bold;
  font-style:normal;
  height:24px;
  line-height:24px;
  width:86px;
  text-decoration:none;
  text-align:center;
  text-shadow:1px 1px 0px #cc9f52;
}
button:hover {
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #eac380), color-stop(1, #fae4bd) );
  background:-moz-linear-gradient( center top, #eac380 5%, #fae4bd 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#eac380', endColorstr='#fae4bd');
  background-color:#eac380;
}
button:active {
  position:relative;
  top:1px;

