/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

html, body {
  height:100%;
  width: 100%;
}

#map-canvas {
  height:100%;
  width:100%;
  position: absolute;
  top: 0;

 }

 #navbar {
  width:95%;
  height: 7%;
  background-color: black;
  margin:10px auto 0;
  position: absolute;
  z-index: 1;
 }

 h4 {
  margin-top: 0;
  color: white;
 }

 #magnify {
  float: right;
  height: 20px
 }

 #user-session {
  float: right;
  height: 20px;
  position: absolute;
 }

 #searchWindow {
  color:white;
  position:absolute;
  background-color:rgba(0,0,0,0.5);
  margin-left: 40%;
  margin-top: 90px;
  z-index: 1;
 }

 #user-log-box {
  color:white;
  margin-top:90px;
  background-color:rgba(0,0,0,0.5);
  margin-left: 40%;
  width: 20%;
  height: 20%;
  position: absolute;
  z-index: 1;
 }

 .hidden {
    display: none;
 }


ul {
  list-style: none;
  padding-left: 10px;
}

label {
  display: inline-block;
  width: 75px;
}

