/*##########################################
GENERAL
##########################################*/

html, body {
  margin: 0;
  height:100%;
  width: 100%;
  font-family: Avenir;
}

ul {
  list-style: none;
  padding-left: 10px;
}

label {
  display: inline-block;
  width: 80px;
  font-size: .95em;
}

.hidden {
  display: none;
}

button {
  padding: 5px;
  width: 95px;
  font-size: 1.15em;
  background-color:#e3edd3;
  margin: 5px auto;
}

form input[type='submit'] {
  padding: 5px;
  width: 100px;
  font-size: 1.15em;
  background-color:#e3edd3;
  padding: 5px;
  margin: 5px auto;
}

input[type='text'], input[type='password']{
  width: 90%;
  font-size: 1.25em;
}

/*##########################################
MAP/LOGO
##########################################*/

#map-canvas {
  height:100%;
  width:100%;
  position: absolute;
  top: 0;
}

#logo img{
  width:100%;
  opacity:0.4;
}

#logo {
  width: 60%;
  position:fixed;
  left:15px;
  bottom:2%;
  z-index: 5;
}

/*##########################################
LOGIN/SIGNUP
##########################################*/

#session-menu {
  width: 100%;
  /*height: 7%;*/
  margin: 0;
  position: absolute;
  z-index: 1;
}

#login-menu-button, #logout-button {
  position: absolute;
  right: 10px;
  top: 10px;
  height: 40px;
  width: 40px;
  background-color: black;
  border-radius:5px;
  box-shadow: 5px 8px 5px 0px rgba(0,0,0,0.75);
}

#user-log-box {
  color: white;
  background-color:rgba(0,0,0,0.5);
  position: absolute;
  right: 10px;
  top: 55px;
  z-index: 1;
  padding: 5px;
  border-radius:5px;
  box-shadow: 5px 8px 5px 0px rgba(0,0,0,0.75);
}


#sign-up-form {
  color:white;
  position:absolute;
  background-color:rgba(0,0,0,0.5);
  padding: 10px;
  top: 55px;
  right: 10px;
  border-radius: 5px;
  z-index: 1;
}

#login-form {
  color:white;
  position:absolute;
  background-color:rgba(0,0,0,0.5);
  padding-right: 10px;
  border-radius: 5px;
  top: 55px;
  right: 10px;
  z-index: 1;
}

.search-status h4, .sign-up-errors h4, .login-errors h4 {
  color: red;
  font-weight: bold;
  margin: 0 5px;
}


/*##########################################
SEARCH
##########################################*/

#magnify {
  position: absolute;
  top: 10px;
  left: 10px;
  height: 40px;
  background-color: black;
  border-radius:5px;
  box-shadow: 5px 8px 5px 0px rgba(0,0,0,0.75);
}

#more-options-icon {
  position: absolute;
  top: 60px;
  left: 10px;
  /*display: hidden;*/
  height: 40px;
  background-color: black;
  border-radius:5px;
  box-shadow: 5px 8px 5px 0px rgba(0,0,0,0.75);
}

#search-window {
  color:white;
  width: 60%;
  max-width: 300px;
  position:absolute;
  background-color:rgba(0,0,0,0.5);
  top: 10px;
  left: 55px;
  z-index: 1;
  padding-right: 10px;
  border-radius:5px;
  box-shadow: 5px 8px 5px 0px rgba(0,0,0,0.75);
}

#search-window ul {
  margin-top: 3px;
  margin-bottom: 3px;

}

.hide-submit {
  position: absolute;
  visibility: hidden;
}

/*##########################################
SMALL INFO BOX
##########################################*/

.small-info-box {
  font-family: Avenir;
  font-size: 1.2em;
  padding: 4px;
  background-color: #AAAAAD;
  border-radius: 10px;
}

/*##########################################
LARGE INFO BOX
##########################################*/

.large-info-box {
  position: absolute;
  width: 90%;
  top: 15px;
  left: 5%;
  z-index: 10000;
  background-color: #AAAAAD;
  border-radius: 10px;
  font-family: Avenir;
  font-size: 1.2em;
  padding: 4px;
}

.close-infobox {
  position: absolute;
  top: 10px;
  right: 10px;
}

#social-media{
  position:absolute;
  top:65px;
  right:10px;
  z-index:10001;
}
