<div class = "small-info-box">
  <p>Artist: {{headliner}}</p>
  <p>Venue: {{venueName}} </p>
  <p>Date: {{date}}</p>
  {{#if time}}
  <p>Start time: {{time}}</p>
  {{/if}}
  <a href='#' class='more-info'>See more info</a>
  <div class="more-event-info hidden">
    <img src='/assets/music-note-icon.png' alt='music note'>
    <p>ARTIST BIO<p>
    <p>MUSIC PLAYER HERE</p>
  </div>
</div>
