<div class = "small-info-box">
  <p>Festival: {{displayName}}</p>
  <p>Venue: {{venueName}} </p>
  <p>Date: {{date}}</p>
  {{#if time}}
  <p>Start time: {{time}}</p>
  {{/if}}
  <ul>
    <li><button class='more-info'>See more info</button>
      <ul class="more-event-info hidden">
        <li><img src='/assets/music-note-icon.png' alt='music note'></li>
        <li><p>ARTIST BIO<p></li>
        <li><p>MUSIC PLAYER HERE</p></li>
     </ul>
    </li>
  </ul>
</div>
