<div class = "small-info-box">
  <p>Festival: {{displayName}}</p>
  <p>Venue: {{venueName}} </p>
  <p>Date: {{date}}</p>
  {{#if time}}
  <p>Start time: {{time}}</p>
  {{/if}}
  <button class='more-info'>See more info</button>
</div>
