<p><strong>Ticket Info:</strong></p>
{{#if listing_count}}
<p>Tickets Available: {{listing_count}}</p>
{{/if}}
{{#if average_price}}
<p>Average Price: ${{average_price}}</p>
{{/if}}
{{#if lowest_price}}
<p>Low Price: ${{lowest_price}}</p>
{{/if}}
<p><a href="{{seatgeek_url}}" target="_blank">Buy Tickets</a></p>

